%head
	%meta{:charset => "utf-8"}
	%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
	%title Codevember #3

	%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

	%link{:href => "assets/stylesheet/styles.css", :rel => "stylesheet"}